body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-inknut-antiqua: "Inknut Antiqua";
  
    /* font sizes */
    --font-size-29xl: 48px;
    --font-size-10xl: 29px;
    --font-size-13xl: 32px;
  
    /* Colors */
    --color-white: #fff;
  
    /* Gaps */
    --gap-lg: 18px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-7xs: 6px;
    --padding-10xs: 3px;
  }
  